<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>

<div class="container main">
    <div class="row layer">

        <div class="col-6">

            <div class="panel acc prm">
                <div class="panel-heading">
                    Primary Account Balance
                </div>
                <div class="panel-body">
                    <h1 class="currency"><i class="fa fa-usd" aria-hidden="true"></i> <span th:text="${primaryAccount.accountBalance}">...</span></h1>
                </div>
                <a th:href="@{/account/primaryAccount}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>

            <div class="panel acc sv">
                <div class="panel-heading">
                    Savings Account Balance
                </div>
                <div class="panel-body">
                    <h1 class="currency"><i class="fa fa-usd" aria-hidden="true"></i> <span th:text="${savingsAccount.accountBalance}">...</span></h1>
                </div>
                <a th:href="@{/account/savingsAccount}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>

        </div>


        <div class="col-3">
            <div class="panel panel-visa">
                <div class="panel-heading">Deposit</div>
                <div class="panel-body">
                    <img class="visa" src="/images/card1.png" />
                </div>
                <a th:href="@{/account/deposit}">
                    <div class="panel-footer">
                        <span class="pull-left">Go to Deposit</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-3">
            <div class="panel panel-visa">
                <div class="panel-heading">Withdraw</div>
                <div class="panel-body">
                    <img class="visa" src="/images/card2.png" />
                </div>
                <a th:href="@{/account/withdraw}">
                    <div class="panel-footer">
                        <span class="pull-left">Go to Withdrawal</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>